@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

html,
body {
  font-family: "Open Sans", sans-serif;
}

.Title {
  line-height: 2em;
  font-family: "Open Sans", sans-serif;
}

.Subsection {
  font-family: "Open Sans", sans-serif;
}

.ItemInline {
  font-family: "Open Sans", sans-serif;
  margin-left: 0px;
  font-weight: normal;
  padding: 0;
  line-height: 1.6;
  font-size: 20px;
  letter-spacing: -0.063px;
  text-rendering: optimizelegibility;
  word-break: break-word;
  -webkit-font-smoothing: antialiased;
  color: #292929;
}

.SectionInline {
  font-family: "Open Sans", sans-serif;
  margin-left: 0px;
  font-weight: normal;
  padding: 0;
  border: 0;
  line-height: 2em;
}

.Item {
  font-family: "Open Sans", sans-serif;
  margin-left: 66px;
}

.Item::marker {
  border-radius: 100%;
}

.Text {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  line-height: 1.6;
  font-size: 20px;
  letter-spacing: -0.063px;
  text-rendering: optimizelegibility;
  word-break: break-word;
  -webkit-font-smoothing: antialiased;
  color: #292929;
}

.Input {
  display: none;
}
